C:\Users\olive\Documents\GitHub\OB-DS-Projects\NLP SA\SA_SNN.keras
C:\Users\olive\Documents\GitHub\OB-DS-Projects\NLP SA\lsa_test_output.csv
C:\Users\olive\Documents\GitHub\OB-DS-Projects\NLP SA\lsa_train_output.csv